@mixin button(){
  font-size: 2em;
  border-style: none;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  outline-style: none;
  transition: box-shadow 300ms;
  &:hover{
    box-shadow: 0 0 10px black;
  }
}

.basket{
  border: 3px solid #860003;
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.basketController{
  display: flex;
}

.basketBtn{
  width: 50%;
  height: 40px;
  padding: 0 10px;
  @include button();
  &:first-child{
    text-align: right;
    &:hover{
      z-index: 1;
    }
  }
  &:last-child{
    text-align: left;
  }
}

.basketInfo{
  font-size: 1.3em;
  text-align: center;
}

.body{
  width: 100%;
  height: 100%;
  color: #bababa
}

.title{
  text-align: center;
}

.sunny{
  background-color: #005809;
}

.lunar{
  background-color: #002207;
}

.weather{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 50%;
  @include button()
}

*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
}

:global #app{
  height: 100%;
}
