.Label{
  display: inline-block;
  max-width: 100%;
  padding: 0;
}

.bold{
  font-weight: bold;
}

/* CONTEXT */

.SectionAdministration-title, .ArticleAdministration-title, .AdministrationImagesSection-title, .AdministrationImagesArticle-title{
  font-size: 1.34em;
  font-weight: 900;
  text-transform: uppercase;
}
