.body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.content{
  width: 100%;
  max-width: 400px;
  padding: 50px 20px;
  background-color: #fff;
  margin: auto;
}
