.aQFaz1cr{border:1px solid #000;border-radius:10px}
.dgt9_2ft{padding:20px}._7pxXHIyn{color:#0a0073;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
._66ZOup8l{cursor:pointer;-webkit-transition:background-color .3s;transition:background-color .3s}._66ZOup8l:hover{background-color:#d7d7d7}
._7mWirX3R{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;z-index:1000;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.25)}.d_A6jiIj{width:100%;max-width:400px;padding:50px 20px;background-color:#fff;margin:auto}
._3M4bhxV-{padding:20px}._6l-UkB04{color:red}
._76j26P_c{font-size:2em}.ery0CbEO{font-weight:700;margin-right:15px}
._3iGq-V0R{width:100%;margin:0 0 20px;-webkit-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;border-radius:10px;padding:10px}
